/* 
    CSS Reset Code - used to reset the default CSS styles of the browser
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	font-size: 0;
}

/******* My CSS ********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-weight: 400;
	background-color: #152535;
}

#loader {
	position: fixed;
	background: #203345 url(../media/loader.gif) no-repeat center;
	width: 100%;
	height: 100vh;
	z-index: 99999;
}

.container {
	max-width: 1442px;
	margin: 0 auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/****** Header *******/

.header {
	background-color: #203345;
}

.logo-img {
	text-align: center;
	padding: 16px 0 8px 0;
}

.nav-links a {
	font-weight: 500;
	font-size: 20px;
	padding: 20px 16px;
	color: rgb(192, 191, 191);
}

.nav-links a:hover {
color: white;
}

.nav-links .active {
	color: white;
	border-top: 2px solid white;
}
	
input#search-box {
	width: 100%;
	padding: 8px 20px 8px 8px;
	font-size: 1rem;
	background-color: #445463;
	color: #eff1f3;
	border: none;
	outline: none;
	border-radius: 4px;
}

#search-box:hover {
	background-color: rgb(105, 105, 105);
}

::placeholder {
	color: rgb(231, 228, 228);
}

.search-bar {
	margin-left: 16px;
}

.fa-search {
	font-size: 20px;
	position: relative;
	float: right;
	top: 0px;
	right: 24px;
	color: #d3dadf;
}
  
.fa-user {
	background-color: rgb(194, 209, 223);
	color: #203345;
	font-size: 28px;
	padding: 4px 4px 0 4px;
	border-radius: 4px;
	cursor: pointer;
}

.fa-user:hover {
	background-color: rgb(255, 255, 255);
}

.user-hover {
	display: none;
	position: absolute;
	top: 64px;
	margin-left: -8px;
	color: white;
	z-index: 999;
	background-color: #1387ec;
	padding: 4px 8px;
	border-radius: 4px;
}

.fa-user:hover ~ .user-hover {
	display: block;
}

/********* Main Section *******/

.hero-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.hero-sec-col1 img {
	padding-top: 48px;
	width: 100%;
	height: auto;
}

.hero-sec-col2 {
	position: relative;
}

.hero-sec-col2 img {
	width: 100%;
	height: auto;
}

.play-btn1 {
	font-size: 44px;
	color: #252729;	
	background-color: rgb(182, 177, 177);
	padding: 16px;
	position: absolute;
	top: 38%;
	left: 50%;
	cursor: pointer;
	padding: 20px 20px 20px 26px;
	border-radius: 50%;
}

.play-btn1:hover, .play-btn2:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

.text-over-img {
	position: absolute;
	left: 28px;
	bottom: 0px;
	padding-bottom: 8px;
}

.text-over-img > h1 {
	font-size: 40px;
	color: white;
	font-weight: 600;
	padding: 8px 0;
}

.text-over-img > p {
	width: 88%;
	font-size: 18px;
	color: rgb(209, 200, 200);
	font-weight: 400;
	padding: 4px 0 12px 0;
	line-height: 1.4;
}

/* GENERAL BUTTON STYLING */

.p1-btn-flex {
	justify-content: flex-start;
}

button,
button::after {
	transition: all 0.3s;
}

button {
	outline: none;
	border: 2px solid white;
	border-radius: 4px;
	font-size: 22px;
	padding: 4px 32px;
	background: transparent;
	color: rgb(192, 191, 191);
	cursor: pointer;
	position: relative;
}

button::before,
button::after {
  background: rgb(255, 255, 255);
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #00050a;
}

.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.details-btn {
	margin-left: 28px;
}

.watch-btn {
	background-color: #2684fe;
	border: 2px solid #2684fe;
	color:white;
	outline: none;
	padding: 4px 20px;
}

.watch-btn:hover {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	color:rgb(0, 0, 0);
}

.watchlist-btn {
	padding: 4px 20px;
}

.watch-play-icon {
	margin-right: 16px;
	font-size: 24px;
}

.watchlist-plus-icon {
	margin-right: 16px;
	font-size: 28px;
}

/****** Fan Favourites Section ******/

.fan-fav-section {
	padding: 12px 0;
}

.common-heading {
	font-size: 28px;
	font-weight: 700;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	margin: 24px 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 28px;
}

.grid-img {
	width: 100%;
	height: 160px;
	border-radius: 8px;
	cursor: pointer;
	transition: transform .2s;
}

.img-hover {
	transform: scale(1.1);
}	

.img-div {
	display: none;
	position: absolute;
	top: 174px;
	padding: 8px;
	color: white;
	background-color: #203345;
	transition: transform .2s;
	transform: scale(1.1);
	z-index: 999;
}

.play-btn2 {
	border: 2px solid white;
	border-radius: 50%;
	padding: 8px 8px 8px 10px;
	font-size: 18px;
	cursor: pointer;
}

.fa-plus {
	font-size: 20px;
	cursor: pointer;
}

.fa-plus:hover {
	color: rgb(13, 214, 56);
}

.movie {
	position: relative;
}

.movie-name {
	padding-left: 8px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

.movie-description {
	font-size: 14px;
	color: rgb(238, 237, 237);
	padding: 8px 0 20px 0;
	font-weight: 400;
}

.duration {
	cursor: pointer;
	font-size: 14px;
	border-right: 2px solid #cfd0d1;
	padding-right: 8px;
	color: #cfd0d1;

}

.release-year {
	cursor: pointer;
	font-size: 14px;
	border-right: 2px solid #cfd0d1;
	padding: 0 8px;
	color: #cfd0d1;

}

.fa-star {
	cursor: pointer;
	padding: 0 4px 0 8px;
	font-size: 12px;
	color: yellow;
}

.rating {
	cursor: pointer;
	font-size: 14px;
	color: #cfd0d1;
}

.certified {
	cursor: pointer;
	border: 1px solid #cfd0d1;
	padding: 0 8px;
	font-size: 12px;
	color: #cfd0d1;
}


/* Choose Language - Section */
.lang-sec{
	margin: 26px 0;
}

.language-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 28px;
}

.language-box {
	border-radius: 12px;
	transition: box-shadow .3s;
}

.language-box img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	font-size: 0;
}

.language-box:hover {
	transform: scale(0.9);
}

/* Top Rated Section */

.top-rated-sec {
	padding-bottom: 16px;
}

.top-rated-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.top-rated-grid img {
	width: 100%;
	height: auto;
	border-radius: 12px;
	cursor: pointer;
}

.grid-none {
	display: none;
	position: absolute;
	top: 0;
	background-color: red;
	padding: 20px;
	z-index: 999;
}

.top-rated-des {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #203345;
	margin: 0 24px;
	padding: 12px;
	color: white;
	border-radius: 8px;
}

.play-btn3 {
	background-color: white;
	border-radius: 50%;
	border-radius: 50%;
	padding: 16px 16px 16px 18px;
	font-size: 28px;
	cursor: pointer;
	color: black;
}

.top-rated-des-heading {
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 8px;
	padding-left: 12px;
}

.plus2 {
	font-size: 28px;
}

.duration2 {
	padding-left: 24px;
}

.duration2, .release-year2, .star2, .rating2 {
	font-size: 16px;
	font-weight: 600;
}

.genere-des {
	background-color: #203345;
	margin: 0 4px;
	border-radius: 8px;
	padding: 8px 12px;
	color: white;
}

.genere-des h4 {
	font-size: 20px;
	font-weight: 500;
}

.plus3 {
	font-size: 12px;
	color: #2274bc;
	cursor: pointer;
}

.genere-des h5 {
	font-size: 14px;
	color: #2274bc;
	padding-left: 4px;
	font-weight: 600;
	cursor: pointer;
}

.plus3:hover, .genere-des h5:hover {
	color: #7ac0fd;
}

/* See More Bar */

.see-more {
	background-color: #203345;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
	border-radius: 4px;
	margin: 32px 0;
	cursor: pointer;
}

.see-more:hover {
	background-color: #3c4463;
}

.see-more h3 {
	font-size: 24px;
	color: rgb(146, 146, 146);
	font-weight: 600;
}

/* Footer Section */

.footer {
	background-color: #203345;
	padding: 24px 0;
	color: rgb(194, 191, 191);
	margin-top: 80px;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links i {
	font-size: 32px;
	border-radius: 4px;
	padding: 0 12px;
	cursor: pointer;
}

.social-links i:hover {
	color: rgb(255, 255, 255);
}

.footer-nav1 {
	padding: 28px 0;
	max-width: 600px;
	margin: 0 auto;
}

.footer-nav1 a, .footer-nav2 a {
	padding: 0 12px;
}

.footer-nav1 a:hover, .footer-nav2 a:hover {
	color: #76e07f;
	font-weight: 500;
}

.footer-nav2 {
	max-width: 480px;
	margin: 0 auto;
}

.footer-logo {
	justify-content: center;
	padding-top: 28px;	
}

.footer-copyright {
	justify-content: center;
	font-size: 16px;
}

.ham {
	display: none;
}
  
#toggle {
	display: none;
}

/* Responsive */

@media all and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
	
	.header {
	  background-color: black;
	  padding: 4px 8px;
	}
	.logo-img {
	  width: 70px;
	  display: inline-block;
	  z-index: 999;
	}
	.nav-links {
	  display: none;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  text-align: left;
	  padding-top: 100px;
	  height: 320px;
	  background-color: black;
	  z-index: 99;
	}
	.active {
		border: none
	}	
	.nav-links a {
	  color: white;
	  padding: 8px 0;
	  font-size: 1rem;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	.ham {
	  font-size: 1.4rem;
	  color: #fdfcfc;
	  display: inline-block;
	  z-index: 999;
	  color: red;
	}
	.toggle:checked ~ .nav-links {
	  display: inline-block;
	}
  }

@media all and (max-width:768px) {
	.hero-section {
		display: flex;
		padding: 8px 16px;
		flex-direction: column-reverse;
	}	
	.search-bar {
		display: none;
	}
	#user-img {
		display: none;
	}
	.text-over-img {
		display: none;
	}
	.grid {
		grid-template-columns: 1fr;
		padding: 32px;
		grid-gap: 16px;
	}	
	.language-grid {
		grid-template-columns: 1fr;
		padding: 48px;
		grid-gap: 24px;
	}
	.top-rated-des-heading {
		font-size: 14px;
	}
	.play-btn3 {
		padding: 8px 8px 8px 10px;
		font-size: 16px;
	}
	.flex small {
		font-size: 14px;
	}
	.plus2 {
		font-size: 16px;
	}
	.see-more {
		margin: 0 16px;
	}
}


/* Page 2 CSS */

.pg2-hero-grid {
	display: flex;
	justify-content: space-between;
}

.title-heading {
	font-size: 44px;
	font-weight: 700;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.col-1 {
	/* border: 1px solid white; */
	padding-top: 60px ;
	width: 44%;
}

.title-des {
	padding: 16px 0;
	justify-content: flex-start;
}

.duration2 {
	padding-left: 0;
}

.mov-desc {
	font-size: 18px;
	color: rgb(218, 216, 216);
	line-height: 1.5;
}

.btn-flex {
	justify-content: flex-start;
	margin: 32px 0;
}

.watchlist-btn {
	margin-left: 28px;
}

.list {
	display: flex;
}

.list > ul {
	color: rgb(175, 172, 172);
	font-size: 18px;
	font-weight: 500;
}

.list ul > li {
	line-height: 1.6;
}

.ul1 {
	width: 36%;
}

.ul2{
	width: 74%;
}

.blue-color {
	color: #2682fa;
}

/* Col-2 */

.col-2 {
	/* border: 1px solid white; */
	width: 52%;
	position: relative;
}

.col-2 img {
	width: 100%;
	height: 100%;
}

.footer-page2 {
	margin: 160px 0 0 0;
}

.pg2-playbtn {
	position: absolute;
	top: 40%;
	left: 48%;
}


