/* 
    CSS Reset Code - used to reset the default CSS styles of the browser
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	font-size: 0;
}

/******* My CSS ********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-weight: 400;
	background-color: #152535;
}

#loader {
	position: fixed;
	background: #203345 url(../media/loader.gif) no-repeat center;
	width: 100%;
	height: 100vh;
	z-index: 99999;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/****** Header *******/

.header {
	background-color: #203345;
}

.logo-img {
	text-align: center;
	padding: 16px 0 8px 0;
}

.nav-links a {
	font-weight: 500;
	font-size: 20px;
	padding: 20px 16px;
}

.nav-links a:hover {
	color: rgb(252, 185, 17);
}

.active {
	color: rgb(252, 185, 17);
	border-bottom: 2px solid white;
}
	
input#search-box {
	width: 100%;
	padding: 8px 20px 8px 8px;
	font-size: 1rem;
	background-color: #445463;
	color: #eff1f3;
	border: none;
	outline: none;
	border-radius: 4px;
}

#search-box:hover {
	background-color: rgb(105, 105, 105);
}

::placeholder {
	color: rgb(231, 228, 228);
}

.search-bar {
	margin-left: 16px;
}

.fa-search {
	font-size: 20px;
	position: relative;
	float: right;
	top: 0px;
	right: 24px;
	color: #d3dadf;
}
  
.fa-user {
	background-color: rgb(194, 209, 223);
	color: #203345;
	font-size: 28px;
	padding: 4px 4px 0 4px;
	border-radius: 4px;
	cursor: pointer;
}

/********* Main Section *******/

.hero-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.hero-sec-col1 img {
	padding-top: 48px;
	width: 100%;
	height: auto;
}

.hero-sec-col2 {
	position: relative;
}

.hero-sec-col2 img {
	width: 100%;
	height: auto;
}

.play-btn1 {
	font-size: 40px;
	color: #252729;	
	background-color: rgb(133, 127, 127);
	padding: 16px;
	position: absolute;
	top: 38%;
	left: 50%;
	cursor: pointer;
	padding: 24px 26px 24px 30px;
	border-radius: 50%;
}

.play-btn1:hover, .play-btn2:hover {
	background-color: rgb(189, 184, 184);
	color: black;
}

.text-over-img {
	position: absolute;
	left: 28px;
	bottom: 0px;
	padding-bottom: 8px;
}

.text-over-img > h1 {
	font-size: 40px;
	color: white;
	font-weight: 600;
	padding: 8px 0;
}

.text-over-img > p {
	font-size: 18px;
	color: rgb(209, 200, 200);
	font-weight: 400;
	padding: 8px 0;
	line-height: 1.4;
}

.btn {
	border: none;
	outline: none;
	border: 2px solid white;
	border-radius: 4px;
	font-size: 22px;
	padding: 4px 32px;
	background: transparent;
	color: white;
	cursor: pointer;
}

.watch-btn {
	background-color: #2684fe;
	border: none;
	outline: none;
}

.btn:hover {
	background-color: #f8f9fb;
	color: black;
}

/****** Fan Favourites Section ******/

.fan-fav-section {
	padding: 12px 0;
}

.common-heading {
	font-size: 28px;
	font-weight: 700;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	padding: 18px 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 28px;
}

.grid-img {
	width: 100%;
	height: 160px;
	border-radius: 8px;
	cursor: pointer;
	transition: transform .2s;
}

.img-hover {
	transform: scale(1.1);
}	

.img-div {
	display: none;
	padding: 8px;
	color: white;
	width: 100%;
	height: auto;
	background-color: #203345;
	transition: transform .2s;
	transform: scale(1.1);
}

.play-btn2 {
	border: 2px solid white;
	border-radius: 50%;
	padding: 8px 8px 8px 10px;
	font-size: 18px;
	cursor: pointer;
}

.fa-plus {
	font-size: 20px;
	cursor: pointer;
}

.fa-plus:hover {
	color: rgb(13, 214, 56);
}

.movie-name {
	padding-left: 8px;
	font-size: 24px;
	font-weight: 500;
	cursor: pointer;
}

.movie-description {
	font-size: 14px;
	color: rgb(238, 237, 237);
	padding: 8px 0 20px 0;
	font-weight: 400;
}

.duration {
	cursor: pointer;
	font-size: 14px;
	border-right: 2px solid #cfd0d1;
	padding-right: 8px;
	color: #cfd0d1;

}

.release-year {
	cursor: pointer;
	font-size: 14px;
	border-right: 2px solid #cfd0d1;
	padding: 0 8px;
	color: #cfd0d1;

}

.fa-star {
	cursor: pointer;
	padding: 0 4px 0 8px;
	font-size: 12px;
	color: yellow;
}

.rating {
	cursor: pointer;
	font-size: 14px;
	color: #cfd0d1;
}

.certified {
	cursor: pointer;
	border: 1px solid #cfd0d1;
	padding: 0 8px;
	font-size: 12px;
	color: #cfd0d1;
}


/* Choose Language - Section */

.language-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 28px;
}

.language-box {
	background-color: rgb(73, 72, 70);
	height: 100px;	
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Top Rated Section */

.top-rated-sec {
	padding-bottom: 16px;
}

.top-rated-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.top-rated-grid img {
	width: 100%;
	height: auto;
	border-radius: 12px;
}

.top-rated-des {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #203345;
	margin: 0 24px;
	padding: 12px;
	color: white;
	border-radius: 8px;
}

.play-btn3 {
	background-color: white;
	border-radius: 50%;
	border-radius: 50%;
	padding: 16px 16px 16px 18px;
	font-size: 28px;
	cursor: pointer;
	color: black;
}

.top-rated-des-heading {
	font-size: 28px;
	font-weight: 600;
	padding-bottom: 8px;
	padding-left: 12px;
}

.plus2 {
	font-size: 28px;
}

.duration2 {
	padding-left: 24px;
}

.duration2, .release-year2, .star2, .rating2 {
	font-size: 16px;
	font-weight: 600;
}

.genere-des {
	background-color: #203345;
	margin: 0 4px;
	border-radius: 8px;
	padding: 8px 12px;
	color: white;
}

.genere-des h4 {
	font-size: 20px;
	font-weight: 500;
}

.plus3 {
	font-size: 12px;
	color: #2274bc;
	cursor: pointer;
}

.genere-des h5 {
	font-size: 14px;
	color: #2274bc;
	padding-left: 4px;
	font-weight: 600;
	cursor: pointer;
}

.plus3:hover, .genere-des h5:hover {
	color: #7ac0fd;
}

/* See More Bar */

.see-more {
	background-color: #203345;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
	border-radius: 4px;
	margin: 32px 0;
	cursor: pointer;
}

.see-more:hover {
	background-color: #3c4463;
}

.see-more h3 {
	font-size: 24px;
	color: rgb(146, 146, 146);
	font-weight: 600;
}

/* Footer Section */

.footer {
	background-color: #203345;
	padding: 24px 0;
	color: rgb(194, 191, 191);
	margin-top: 80px;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links i {
	font-size: 32px;
	border-radius: 4px;
	padding: 0 12px;
	cursor: pointer;
}

.social-links i:hover {
	color: rgb(255, 255, 255);
}

.footer-nav1 {
	padding: 28px 0;
	max-width: 600px;
	margin: 0 auto;
}

.footer-nav1 a, .footer-nav2 a {
	padding: 0 12px;
}

.footer-nav1 a:hover, .footer-nav2 a:hover {
	color: #76e07f;
	font-weight: 500;
}

.footer-nav2 {
	max-width: 480px;
	margin: 0 auto;
}

.footer-logo {
	justify-content: center;
	padding-top: 28px;	
}

.footer-copyright {
	justify-content: center;
	font-size: 16px;
}