/* 
    CSS Reset Code - used to reset the default CSS styles of the browser
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* My CSS ********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Josefin Sans', sans-serif; */
    line-height: 1.2;
    font-weight: 400;
	background-color: #152535;
}

#loader {
	position: fixed;
	background: #203345 url(../media/loader.gif) no-repeat center;
	width: 100%;
	height: 100vh;
	z-index: 99999;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	/* border: 1px solid #ffffff; */
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/****** Header *******/

.header {
	background-color: #203345;
}

.logo-img {
	text-align: center;
	font-size: zero;
	padding: 16px 0 8px 0;
}

.nav-links a {
	font-weight: 500;
	font-size: 20px;
	padding: 0 16px;
}

input#search-box {
	width: 100%;
	padding: 8px 20px 8px 8px;
	font-size: 1rem;
	background-color: #445463;
	color: #eff1f3;
	border: none;
	outline: none;
	border-radius: 4px;
}
 
::placeholder {
	color: rgb(231, 228, 228);
}

.fa-search {
	font-size: 20px;
	position: relative;
	float: right;
	top: 0px;
	right: 24px;
	color: #d3dadf;
}
  
.fa-user {
	background-color: rgb(194, 209, 223);
	color: #203345;
	font-size: 28px;
	padding: 4px 4px 0 4px;
	border-radius: 4px;
}